.logo-top {
  cursor: pointer;
}

.nav {
  &__list {
    display: flex;
    gap: 45px;
  }
  &__list-item {
    color: var(--white);
    text-align: center;
    font-size: 28px;
    line-height: 130%;
    text-transform: uppercase;
    cursor: pointer;
  }
}

.phone {
  color: var(--white);
  text-align: right;
  font-size: 32px;
  line-height: 130%;
}

.divider {
  width: 1570px;
  height: 1px;
  background-color: var(--general-dark);
}